@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0; 
  padding: 0; 
  box-sizing: border-box;
}

:root {
  --primary-color: #ff1e64; 
  --secondary-color: #ff1e6445; 
}

body, html {
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #fff !important;
  font-family: "Rubik", "Inter", sans-serif !important; 
}


body {
  overflow-x: hidden;
    overflow-x: clip !important;
}

img.responsive {
   width: 100%;
  height: auto;
}

.primary-btn {
  background: var(--primary-color) !important; 
  color: white !important; 
}

button:disabled {
  background: grey; 
  cursor: not-allowed;
}

#no-scroll-bar::-webkit-scrollbar {
  display: none;
}

.slick-prev:before,
.slick-next:before {
color: black !important;
font-size: 24px !important;
}

.slick-prev {
  left: -40px !important; 
}
.slick-next {
  right: -40px !important; 
}

.slick-track {
  margin-left: 0 !important; 
}

/* .home-service-card {
  width: 15vw; 
} */

.navbar .chakra-button.chakra-menu__menu-button {
  background-color: transparent !important;
}

.navbar .chakra-button.chakra-menu__menu-button.account-btn {
  padding-top: 18px;
  padding-bottom: 18px;
}

.underline--magical {
  background-image: linear-gradient(120deg, var(--primary-color) 0%, var(--primary-color) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 90%;
}

.neon-effect {
     text-shadow: 0 0 5px #ffffff30, 0 0 10px #ffffff0f, 0 0 20px #ffffffe0, 0 0 40px #ffffff00, 0 0 80px #ffffff0a; 
  }